:root {
  font-family:'Heming';
  line-height: 1.5;
  font-weight: 400;
  color: black;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Heming";
  src: url("src/fonts/heming-variable.ttf");
  font-family-base: "Oxygen", sans-serif !default;
}
*{
  font-family: "Heming";
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
